# Entorno
.env
.env.*
*.local

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Debug
__debug_bin*
__debug*

# Docker volumes locales
volumes/

# OS
.DS_Store
Thumbs.db
